<!-- Navbar Start -->
<nav class="navigation">
    <ul class="list-unstyled">
        <!--控制面板-->
        <li id="g-1"><a href="{{ url_for('admin.index') }}"><i class="ion-home"></i> <span class="nav-label">控制面板</span></a>
        </li>
        <!--控制面板-->

        <!--新闻类别管理-->
        <li class="has-submenu" id="g-2"><a href="#"><i class="ion-flask"></i> <span class="nav-label">新闻类别管理</span></a>
            <ul class="list-unstyled">
                <li id="g-2-1"><a href="{{ url_for('admin.newscategory_add') }}">添加新闻类别</a></li>
                <li id="g-2-2"><a href="{{ url_for('admin.newscategory_list') }}">新闻类别列表</a></li>
            </ul>
        </li>
        <!--新闻类别管理-->

        <!-- 新闻标签管理 -->
        <li class="has-submenu" id="g-3"><a href="#"><i class="ion-settings"></i><span class="nav-label">新闻标签管理</span></a>
            <ul class="list-unstyled">
                <li id="g-3-1"><a href="{{ url_for('admin.newstag_add') }}">添加新闻标签</a></li>
                <li id="g-3-2"><a href="{{ url_for('admin.newstag_list') }}">新闻标签列表</a></li>
            </ul>
        </li>
        <!-- 新闻标签管理 -->

        <!-- 新闻资讯管理 -->
        <li class="has-submenu" id="g-4"><a href="#"><i class="ion-compose"></i> <span class="nav-label">新闻资讯管理</span></a>
            <ul class="list-unstyled">
                <li id="g-4-1"><a href="{{ url_for('admin.newsinfo_add') }}">添加新闻资讯</a></li>
                <li id="g-4-2"><a href="{{ url_for('admin.newsinfo_list') }}">新闻资讯列表</a></li>
            </ul>
        </li>
        <!-- 新闻资讯管理 -->

        <!-- 考试级别管理 -->
        <li class="has-submenu" id="g-5"><a href="#"><i class="ion-grid"></i> <span class="nav-label">考试级别管理</span></a>
            <ul class="list-unstyled">
                <li id="g-5-1"><a href="{{ url_for('admin.tlevel_add') }}">添加考试级别</a></li>
                <li id="g-5-2"><a href="{{ url_for('admin.tlevel_list') }}">考试级别列表</a></li>
            </ul>
        </li>
        <!-- 考试级别管理 -->

        <!-- 考试科目管理 -->
        <li class="has-submenu" id="g-6"><a href="#"><i class="ion-stats-bars"></i> <span class="nav-label">考试科目管理</span></a>
            <ul class="list-unstyled">
                <li id="g-6-1"><a href="{{ url_for('admin.tsubject_add') }}">添加考试科目</a></li>
                <li id="g-6-2"><a href="{{ url_for('admin.tsubject_list') }}">考试科目列表</a></li>
            </ul>
        </li>
        <!-- 考试科目管理 -->

        <!-- 考试信息管理 -->
        <li class="has-submenu" id="g-7"><a href="#"><i class="ion-email"></i> <span class="nav-label">考试信息管理</span></a>
            <ul class="list-unstyled">
                <li id="g-7-1"><a href="{{ url_for('admin.tinfo_add') }}">添加考试信息</a></li>
                <li id="g-7-2"><a href="{{ url_for('admin.tinfo_list') }}">考试信息列表</a></li>
            </ul>
        </li>
        <!-- 考试信息管理 -->

        <!-- 参考书管理 -->
        <li class="has-submenu" id="g-8"><a href="#"><i class="ion-document"></i> <span class="nav-label">参考书管理</span></a>
            <ul class="list-unstyled">
                <li id="g-8-1"><a href="{{ url_for('admin.refbook_add') }}">添加参考书</a></li>
                <li id="g-8-2"><a href="{{ url_for('admin.refbook_list') }}">参考书列表</a></li>
            </ul>
        </li>

        <!-- 参考书管理 -->

        <!-- 用户管理 -->
        <li class="has-submenu" id="g-9"><a href="#"><i class="ion-location"></i> <span class="nav-label">用户管理</span></a>
            <ul class="list-unstyled">
                <li id="g-9-1"><a href="{{ url_for('admin.user_list') }}"> 用户列表</a></li>
            </ul>
        </li>
        <!-- 用户管理 -->

        <!-- 日志管理 -->
        <li class="has-submenu" id="g-10"><a href="#"><i class="ion-document"></i> <span class="nav-label">日志管理</span></a>
            <ul class="list-unstyled">
                <li id="g-10-1"><a href="{{ url_for('admin.admin_log') }}">管理员登录日志列表</a></li>
                <li id="g-10-2"><a href="{{ url_for('admin.oplog_list') }}">操作日志列表</a></li>
                <li id="g-10-3"><a href="{{ url_for('admin.user_log') }}">用户登录日志列表</a></li>
            </ul>
        </li>
        <!-- 日志管理 -->

        <!-- 管理员管理 -->
        <li class="has-submenu" id="g-11"><a href="#"><i class="ion-email"></i> <span class="nav-label">管理员管理</span></a>
            <ul class="list-unstyled">
                <li id="g-11-1"><a href="{{ url_for('admin.admin_add') }}">添加管理员</a></li>
                <li id="g-11-2"><a href="{{ url_for('admin.admin_list') }}">管理员列表</a></li>
            </ul>
        </li>
        <!-- 管理员管理 -->

    </ul>
</nav>
<!-- Navbar End -->