{% extends 'admin/admin.html' %}
{% block content %}
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Welcome !</h3>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="ion-arrow-graph-up-right text-purple"></i>
                    <h2 class="m-0 counter">{{ cost }}</h2>
                    <div>总费用</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="ion-android-contacts text-success"></i>
                    <h2 class="m-0 counter">{{ user_count }}</h2>
                    <div>用户数</div>
                </div>
            </div>
        </div> <!-- end row -->

        <div class="row">
            <div class="col-sm-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge success"><i class="fa fa-calendar"></i>
                            {#                            <i class="fa fa-check"></i>#}
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">新闻操作动态</h4>
                                <hr>
                            </div>
                            <div class="timeline-body">
                                {% for oplog in oplog_news_list %}
                                    <p>
                                        <b>{{ loop.index }}.{{ oplog.admin.name }}</b>&nbsp;&nbsp;-->&nbsp;&nbsp;{{ oplog.opdetail }}<br>
                                        <b>操作时间：</b>&nbsp;&nbsp;{{ oplog.addtime }}
                                    </p>
                                {% endfor %}
                                <hr>
                                <a href="{{ url_for('admin.newsinfo_list') }}">More&gt;&gt;</a>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="fa fa-tags"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">考试操作动态</h4>
                                <hr>
                            </div>
                            <div class="timeline-body">
                                {% for oplog in oplog_test_list %}
                                    <p>
                                        <b>{{ loop.index }}.{{ oplog.admin.name }}</b>&nbsp;&nbsp;-->&nbsp;&nbsp;{{ oplog.opdetail }}<br>
                                        <b>操作时间：</b>&nbsp;&nbsp;{{ oplog.addtime }}
                                    </p>
                                {% endfor %}
                                <hr>
                                <a href="{{ url_for('admin.tinfo_list') }}">More&gt;&gt;</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"><i class="fa fa-book"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">参考书操作动态</h4>
                                <hr>
                            </div>
                            <div class="timeline-body">
                                {% for oplog in oplog_book_list %}
                                    <p>
                                        <b>{{ loop.index }}.{{ oplog.admin.name }}</b>&nbsp;&nbsp;-->&nbsp;&nbsp;{{ oplog.opdetail }}<br>
                                        <b>操作时间：</b>&nbsp;&nbsp;{{ oplog.addtime }}
                                    </p>
                                {% endfor %}
                                <hr>
                                <a href="{{ url_for('admin.refbook_list') }}">More&gt;&gt;</a>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Start</h4>
                                <hr>
                            </div>
                            <div class="timeline-body">
                                <p>2018年1月29日星期一 16点05分，本系统开始编写</p>
                                <hr>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-1").addClass("active");
        });
    </script>
{% endblock %}