{% extends 'admin/admin.html' %}
{% block css %}
    <link href="https://cdn.bootcss.com/highcharts/6.0.7/css/highcharts.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Welcome !</h3>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="ion-arrow-graph-up-right text-purple"></i>
                    <h2 class="m-0 counter">{{ cost }}</h2>
                    <div>总费用</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="ion-android-contacts text-success"></i>
                    <h2 class="m-0 counter">{{ user_count }}</h2>
                    <div>用户数</div>
                </div>
            </div>
        </div> <!-- end row -->

        <!-- other Chart -->
        <div class="row">
            <div class="col-sm-6">
                <div class="portlet"><!-- /primary heading -->
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            近1年的报名费用情况
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#pie-default"><i
                                    class="ion-minus-round"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="pie-default" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div id="pie-Chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="portlet"><!-- /primary heading -->
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            近3个月的报名费用情况
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#bar-default"><i
                                    class="ion-minus-round"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bar-default" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div id="bar-Chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End other Chart-->

        <!-- Line Chart -->
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet"><!-- /primary heading -->
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            近7天的报名费用情况
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><i
                                    class="ion-minus-round"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-default" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div id="line-Chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- col -->
        </div>
        <!-- End Line Chart-->

        <div class="row">
            <div class="col-sm-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge success"><i class="fa fa-calendar"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">End</h4>
                                <hr>
                            </div>
                            <div class="timeline-body">
                                <p>2018年3月21日星期三 13点41分，本系统基本结束</p>
                                <hr>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-badge info"><i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Start</h4>
                                <hr>
                            </div>
                            <div class="timeline-body">
                                <p>2018年1月29日星期一 16点05分，本系统开始编写</p>
                                <hr>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>
{% endblock %}
{% block js %}
    <script src="https://cdn.bootcss.com/highcharts/6.0.7/highcharts.js"></script>
    <script src="https://cdn.bootcss.com/highcharts/6.0.7/js/modules/series-label.js"></script>
    <script src="https://cdn.bootcss.com/highcharts/6.0.7/js/modules/exporting.js"></script>

    <script>
        $(document).ready(function () {
            $("#g-1").addClass("active");
        });

        Highcharts.chart('pie-Chart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            colors: ['#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '费用占比',
                colorByPoint: true,
                data: [
                    {% for pie in pie_list %}
                        {% if loop.index %}
                            {
                                name: '{{ pie[0] }}',
                                y: {{ pie[1] }},
                                sliced: true,
                                selected: true
                            },
                        {% else %}
                            {
                                name: '{{ pie[0] }}',
                                y: {{ pie[1] }}
                            },
                        {% endif %}

                    {% endfor %}
                ]
            }]
        });

        Highcharts.chart('bar-Chart', {
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            xAxis: {
                categories: [
                    {% for bar in bar_list %}
                        '{{ bar[0] }}',
                    {% endfor %}
                ]
            },
            yAxis: {
                title: {
                    text: false
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    colorByPoint: true
                }
            },
            series: [{
                name: '费用',
                data: [
                    {% for bar in bar_list %}
                        {{ bar[1] }},
                    {% endfor %}
                ]
            }],

        });

        Highcharts.chart('line-Chart', {
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            xAxis: {
                categories: [
                    {% for chart in chart_list %}
                        '{{ chart[0] }}',
                    {% endfor %}
                ]
            },
            yAxis: {
                title: {
                    text: false
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            series: [{
                name: '费用',
                data: [
                    {% for chart in chart_list %}
                        {{ chart[1] }},
                    {% endfor %}
                ]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    </script>
{% endblock %}