{% extends 'admin/admin.html' %}
{% block css %}
    <!--bootstrap-summernote-->
    <link href="{{ url_for('static', filename='assets/summernote/summernote.css') }}" rel="stylesheet"/>
    <!-- fileinput -->
    <link href="{{ url_for('static', filename='assets/bootstrap-fileinput/fileinput.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <!-- Page content -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <ol class="breadcrumb" id="breadcrumb">
                <li><a href="{{ url_for('admin.index') }}">首页</a></li>
                <li><a href="{{ url_for('admin.newsinfo_list') }}">新闻资讯管理</a></li>
                <li class="active">添加新闻资讯</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">添加新闻资讯</h3></div>
                    <div class="panel-body">
                        <!-- 消息闪现提示 -->
                        {% for msg in get_flashed_messages(category_filter=["OK"]) %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i>&nbsp;操作成功</h4>
                                {{ msg }}
                            </div>
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=["err"]) %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i>&nbsp;操作失败</h4>
                                {{ msg }}
                            </div>
                        {% endfor %}
                        <!-- 消息闪现提示 -->
                        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                            <!-- 验证提示 -->
                            {% for err in form.title.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    <h4><i class="icon fa fa-ban"></i>&nbsp;操作失败</h4>
                                    {{ err }}
                                </div>
                            {% endfor %}
                            <!-- 验证提示 -->
                            <!-- 验证提示 -->
                            {% for err in form.info.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    <h4><i class="icon fa fa-ban"></i>&nbsp;操作失败</h4>
                                    {{ err }}
                                </div>
                            {% endfor %}
                            <!-- 验证提示 -->
                            <div class="form-group">
                                {{ form.title.label(class="col-md-2 control-label") }}
                                <div class="col-md-10">
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.info.label(class="col-md-2 control-label") }}
                                <div class="col-md-10">
                                    {{ form.info }}
                                </div>
                            </div>
                            <!-- 不会做，舍弃 -->
                            {#                            <div class="form-group">#}
                            {#                                <label class="col-md-2 control-label">所属类别</label>#}
                            {#                                <div class="col-md-10">#}
                            {#                                    {{ form.category }}#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <!-- 不会做，舍弃 -->
                            <div class="form-group">
                                {{ form.tag.label(class="col-md-2 control-label") }}
                                <div class="col-md-10">
                                    {{ form.tag }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.img.label(class="col-md-2 control-label", for="file-input") }}
                                <div class="col-md-10">
                                    {{ form.img }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.remark.label(class="col-md-2 control-label") }}
                                <div class="col-md-10">
                                    {{ form.remark }}
                                </div>
                            </div>
                            {{ form.csrf_token }}
                            {{ form.submit }}
                        </form>
                    </div> <!-- panel-body -->
                </div> <!-- panel -->
            </div> <!-- col -->
        </div>

    </div>
    <!-- Page content end -->

{% endblock %}
{% block js %}
    <!--form validation init-->
    <script src="{{ url_for('static', filename='assets/summernote/summernote.min.js') }}"></script>
    <!-- fileinput -->
    <script src="{{ url_for('static', filename='assets/bootstrap-fileinput/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap-fileinput/zh.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                lang: 'zh-CN',
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                 // set focus to editable area after initializing summernote
            });

        });

        $('#file-input').fileinput({
            language: 'zh', //设置语言
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            uploadAsync: false, //默认异步上传
            showUpload: false, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: true, //是否显示预览
            {#uploadAsync: false,    //采用同步上传#}
            removeFromPreviewOnError: true,   //当文件不符合规则，就不显示预览
            {#showCaption:false,//是否显示标题#}
            {#browseClass:"btn btn-primary btn-file", //按钮样式#}
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileCount: 3, //表示允许同时上传的最大文件个数
            validateInitialCount: true,
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        });

        $(document).ready(function () {
            $("#g-4").addClass("active");
            $("#g-4-1").addClass("active");
        })

    </script>
{% endblock %}
