{% extends 'admin/admin.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/magnific-popup/magnific-popup.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/jquery-datatables-editable/datatables.css') }}"/>
{% endblock %}
{% block content %}
    <!-- Page content -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <ol class="breadcrumb" id="breadcrumb">
                <li><a href="{{ url_for('admin.index') }}">首页</a></li>
                <li><a href="{{ url_for('admin.admin_log') }}">日志管理</a></li>
                <li class="active">操作日志列表</li>
            </ol>
        </div>

        <div class="panel">
            <div class="panel-body">
                <table class="table table-bordered table-striped text-center" id="datatable-editable">
                    <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">昵称</th>
                        <th class="text-center">操作原因</th>
                        <th class="text-center">操作时间</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <td>1</td>
                        <td>Adward</td>
                        <td>Adward</td>
                        <td>2018-01-01</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Adward</td>
                        <td>Adward</td>
                        <td>2018-01-01</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Adward</td>
                        <td>Adward</td>
                        <td>2018-01-01</td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <!-- end: page -->

        </div> <!-- end Panel -->


    </div>

    <!-- Page content end -->
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='assets/magnific-popup/magnific-popup.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables/dataTables.bootstrap.js') }}"></script>
    <script>
        <!-- 表格 -->
        $('#datatable-editable').DataTable({
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从第 _START_ 条到第 _END_ 条/共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "筛选：  ",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
            "iDisplayLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "pagingType": "full_numbers"
        });
    </script>
{% endblock %}
