{% extends 'admin/admin.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/jquery-datatables-editable/datatables.css') }}"/>
{% endblock %}
{% block content %}
    <!-- Page content -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <ol class="breadcrumb" id="breadcrumb">
                <li><a href="{{ url_for('admin.index') }}">首页</a></li>
                <li><a href="{{ url_for('admin.trinfo_list') }}">考试报名信息管理</a></li>
                <li class="active">考试报名信息列表</li>
            </ol>
        </div>

        <div class="panel">
            <div class="panel-body">
                <!-- 消息闪现提示 -->
                {% for msg in get_flashed_messages(category_filter=["OK"]) %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>&nbsp;操作成功</h4>
                        {{ msg }}
                    </div>
                {% endfor %}
                {% for msg in get_flashed_messages(category_filter=["err"]) %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>&nbsp;操作失败</h4>
                        {{ msg }}
                    </div>
                {% endfor %}
                <!-- 消息闪现提示 -->
                <table class="table table-bordered table-striped text-center" id="datatable-editable">
                    <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">考试内容</th>
                        <th class="text-center">规定人数</th>
                        <th class="text-center">报考人数</th>
                        <th class="text-center">报名状态</th>
                        <th class="text-center">添加时间</th>
                        <th class="text-center">操作事项</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for value in page_data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ value.tinfo.area + "-" +  value.tinfo.examroom }} <br>
                            {{ value.tinfo.tlevel.level + "——" +  value.tinfo.tsubject.subject + "——>" + value.tinfo.t_time.strftime('%Y-%m-%d %H:%M:%S') }} </td>
                        <td>{{ value.tinfo.personnum }}</td>
                        <td>{{ value.num }}</td>
                        <td>{% if value.status and value.tinfo.t_time > now %}可报名{% else %}不可报名{% endif %}</td>
                        <td>{{ value.addtime }}</td>
                        <td class="actions">
                            <a href="{{ url_for('admin.trinfo_edit', id=value.id) }}"><i class="fa fa-pencil"></i></a>
                            <a href="{{ url_for('admin.trinfo_del', id=value.id) }}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- end: page -->
        </div> <!-- end Panel -->
    </div>
    <!-- Page content end -->
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='assets/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables/dataTables.bootstrap.js') }}"></script>
    <script>
        <!-- 表格 -->
        $('#datatable-editable').DataTable({
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从第 _START_ 条到第 _END_ 条/共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "筛选：  ",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
            "iDisplayLength": 5,
            "searching": false,
            "lengthMenu": [5, 10, 20, 50],
            "pagingType": "full_numbers"
        });
        $(document).ready(function () {
            $("#g-12").addClass("active");
            $("#g-12-2").addClass("active");
        });
    </script>
{% endblock %}
