{% extends 'registration/registration.html' %}
{% block content %}
    <div class="container">
        <div class="detail-div">
            <ol class="breadcrumb">
                <li class="active">关于我们</li>
            </ol>
        </div>

        <div class="row">
            <div class="panel panel-default col-md-10 m-t-20">
                <div class="panel-body">
                    <h3 class="text-center">关于我们</h3>
                    <hr>
                    <p class="text-center" style="margin: -10px 0 20px;">
                        【发布日期：2018-03-01&nbsp;&nbsp;&nbsp;管理员：AdwardAdmin】</p>
                    <div id="summer">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计算机技术与软件专业技术资格（水平）考试是在人力资源和社会保障部、工业和信息化部领导下的国家级考试，是原中国计算机软件专业技术资格和水平考试的完善与发展。自开考至今二十年以来，考试一直秉持“以用立考”、“依法执考”的根本准则，紧扣行业发展与市场需求的脉搏，不断地在原有级别资格的基础上扩充与完善，以科学、公正的方法对全国计算机技术与软件专业技术人员进行职业资格、专业技术资格认定以及专业技术水平的测试与选拔。</p>

                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一堆测试数据</p>
                    </div>
                    <input type="hidden" value="-" id="article_content">

                    <hr>
                    <span style="color:#aca8a8">一堆测试数据</span>
                    <a href="Mailto:adward@adwardz.top" class="pull-right">给我发邮件</a>
                </div> <!-- panel-body -->
            </div>
            {% include 'registration/affairs_public.html' %}
        </div>

    </div>
{% endblock %}