<!-- 去掉左侧栏的标签 -->
<div class="panel panel-default col-md-10">
    <div class="panel-heading">{{ newstag_name }}</div>
    <div class="panel-body">
        <table class="table table-bordered table-striped" id="datatable-editable">
            <thead>
            <tr>
                <th class="text-center" style="display: none">g</th>
            </tr>
            </thead>
            <tbody>
            {% for newsinfo in newsinfos %}
                <tr class="text-left">
                    <td>
                        <a href="{{ url_for('registration.detail', id=newsinfo.id) }}">
                            <i class="fa fa-angle-double-right"
                               aria-hidden="true"></i>&nbsp;{{ newsinfo.title | safe }}
                            <span class="pull-right"> [{{ newsinfo.addtime.strftime("%Y-%m-%d") }}]</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>