{% extends "registration/registration.html" %}
{% block title %}
    重置密码
{% endblock %}
{% block content %}
    <div class="container">
    <div class="login_con">
        <h1>忘记密码/FORGET</h1>
        <form role="form" class="form-border" method="post">
            <!-- 消息闪现提示 -->
            {% for msg in get_flashed_messages(category_filter=["OK"]) %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ msg }}
                </div>
            {% endfor %}
            <!-- 消息闪现提示 -->
            <!-- 消息闪现提示 -->
            {% for msg in get_flashed_messages(category_filter=["err"]) %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ msg }}
                </div>
            {% endfor %}
            <!-- 消息闪现提示 -->
            <!-- 验证提示 -->
            {% for err in form.email.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                    </button>
                    {{ err }}
                </div>
            {% endfor %}
            <!-- 验证提示 -->
            <div class="form-group">
                <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ form.email.label }}
                {{ form.email }}
            </div>
            {{ form.csrf_token }}
            <div class="text-center">
                {{ form.submit }}
            </div>
        </form>

    </div>
</div>
{% endblock %}