<!--左侧栏-->
<div class="col-md-3 info-left">

    <div class="list-group">
        <a id="m-1" href="{{ url_for('registration.userinfo') }}" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>&nbsp;个人中心
        </a>
        <a id="m-2" href="#" class="list-group-item">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码
        </a>
        <a id="m-3" href="#" class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;报名查询
        </a>
        <a id="m-4" href="#" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;准考证打印
        </a>
        <a id="m-5" href="#" class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>&nbsp;登录日志
        </a>
    </div>
</div>