{% extends 'registration/registration.html' %}
{% block css %}
    <style>
        ul.panel-ul > a.list-group-item {
            border: none;
            padding-bottom: 4px;
            margin: 8px 0;
        }

        .badge-danger{
            background-color: #dc3545;
        }

        .list-group-item>.badge {
            background-color: #dc3545;
            float: none;
        }

        div#content2 > ul > li {
            list-style: none;
        }

        div#content2 > ul > li > a h4 {
            {#padding: 5px 10px;#}
            padding: 12px 0px;
            margin-left: -20px;
        }

        div#content3 > ul > li {
            list-style: none;
            padding: 2px 0 0 0;
            margin-left: -30px;
        }

        div#myCarousel > div.carousel-inner > div.item > div.container > div.carousel-caption a{
            color: #ffffff;
            text-decoration: none;
        }

        @media (max-width: 767px) {
            ul.panel-ul > a.list-group-item {
                border: none;
                padding-bottom: 4px;
                margin: 18px 0;
            }
            ul dl dt img {
                width: 240px;
                height: 120px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <!--内容-->
    <div class="container" style="margin-top: -20px;padding-bottom: 20px;">
        <img src="{{ url_for('static', filename='images/topimg.png') }}" alt="顶部图片" class="center-img">
        <div class="row">
            {% include 'registration/banner.html' %}

            <div class="col-md-5 col-sm-12 panel-5">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">公告栏</div>
                    <!-- List group -->
                    <ul class="list-group panel-ul">
                        {% for news in newstags %}
                            <a href="{{ url_for('registration.detail', id=news.id) }}" class="list-group-item">
                                {{ news.title | safe | truncate(25) }}
                                <span class="pull-right">[{{ news.addtime.strftime("%Y-%m-%d") }}]</span>
                                {% if loop.index <= 2 %}
                                    <span class="badge">new</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </ul>
                    <a href="{{ url_for('registration.newscategory', name="公告栏") }}" class="pull-right" target="_blank">More&gt;&gt;</a>
                </div>
            </div>
        </div>

        <div class="row">
            {% include 'registration/tablist.html' %}

            <div class="col-md-3 col-xs-12">
                <div class="panel panel-default panel-margin">
                    <div class="panel-body panel-body-margin">
                        <h2 class="text-center">
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            <span>最新通知</span>
                        </h2>
                        <hr>
                        <div id="news-container">
                            <ul>
                                {% for latest_info in latest_infos %}
                                 <li><a href="{{ url_for('registration.detail', id=latest_info.id) }}" target="_blank"><i></i>
                                     <span>{{ latest_info.title }}</span></a>
                                     <span class="badge badge-danger">new</span>
                                 </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">考试概述<a href="{{ url_for('registration.newscategory', name='考试介绍') }}" class="pull-right">More&gt;&gt;</a></div>

                    <!-- List group -->
                    <ul class="list-group">
                        <a href="{{ url_for('registration.newscategory', name='考试介绍') }}" class="list-group-item">
                            <h5 class="list-group-item-heading">考试介绍</h5>
                            <h6 class="list-group-item-text">
                               <!-- 72个字符 --> 计算机技术与软件专业技术资格（水平）考试（以下简称计算机软件资格考试）...</h6>
                        </a>
                        <a href="{{ url_for('registration.newscategory', name='资格介绍') }}" class="list-group-item">
                            <h5 class="list-group-item-heading">资格介绍</h5>
                            <h6 class="list-group-item-text">
                                计算机技术与软件专业技术资格（水平）考试（以下简称计算机软件资格考试）是原中国计算机软...</h6>
                        </a>
                        <a href="{{ url_for('registration.newscategory', name='考试教程和大纲') }}" class="list-group-item">
                            <h5 class="list-group-item-heading">考试教程和大纲</h5>
                            <h6 class="list-group-item-text">
                                计算机技术与软件专业技术资格（水平）考试（以下简称计算机软件资格考试）是原中国计算机软...</h6>
                        </a>
                    </ul>

                </div>
            </div>
            <hr class="hr-hidden"/>
            <div class="col-md-9 col-sm-12">
                <strong>考试报名</strong>
                <a href="{{ url_for('registration.tinfo', name="近期考试报名") }}" class="pull-right">More&gt;&gt;</a>
                <div id="content2">
                    <ul style="display:block;">
                        {% for tinfo in tinfos %}
                             <li><a href="{{ url_for('registration.tinfo_detail', id=tinfo.id) }}"><h4>{{ tinfo.tlevel.level | safe }}{{ tinfo.tsubject.subject | safe | truncate(20) }}</h4><span>{{ tinfo.addtime.strftime("%Y-%m-%d") }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>

        <hr/>

        <div class="row">
            <hr class="hr-hidden"/>
            <div class="col-md-10 col-sm-12">
                <strong>报名安排</strong>
                <a href="{{ url_for('registration.newscategory', name="报名安排") }}" class="pull-right">More&gt;&gt;</a>
                <div id="content3">
                    <ul style="display:block;">
                        {% for reg_info in reg_infos %}
                           <li><a href="{{ url_for('registration.detail', id=reg_info.id) }}">
                            <h4>{{ reg_info.title | safe | truncate(25) }}</h4>
                            <span>{{ reg_info.addtime }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr class="hr-hidden"/>
            {% include 'registration/affairs_public.html' %}
        </div>

    </div>
    <!--内容-->
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/jquery.vticker-min.js') }}"></script>
    <script>
        $('#news-container').vTicker({
		    speed: 500,
		    pause: 2000,
		    animation: 'fade',
		    mousePause: false,
		    showItems: 4
	    });
    </script>
{% endblock %}