<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img alt="Brand" class="navbar-brand hover" src="///png.icons8.com/html/win8/50/5B5B5B"/>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ url_for('registration.index') }}"><i class="fa fa-home fa-fw"
                                                                              aria-hidden="true"></i>&nbsp; 首页 <span
                        class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;工作动态 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('registration.newscategory', name="公告栏") }}">公告栏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('registration.newscategory', name="工作计划") }}">工作计划</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('registration.newscategory', name="报名安排") }}">报名安排</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('registration.newscategory', name="考试安排") }}">考试安排</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;考试概述 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('registration.newscategory', name="考试介绍") }}">考试介绍</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('registration.newscategory', name="资格介绍") }}">资格介绍</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('registration.newscategory', name="考试教程和大纲") }}">考试教程和大纲</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-mortar-board" aria-hidden="true"></i>&nbsp;政策法规 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">政策</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">法规</a></li>
                    </ul>
                </li>

            </ul>
            <form class="navbar-form navbar-left" role="form" id="myform">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索" id="info" style="width: 70%;">
                    <span class="input-group-btn" style="float: left">
                        <a type="submit" class="btn btn-default" id="search"><span class="fa fa-search"/></a>
                    </span>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if "user_id" not in session %}
                    <li><a href="{{ url_for('registration.login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;登录</a>
                    </li>
                    <li><a href="{{ url_for('registration.register') }}"><i class="fa fa-user-plus"
                                                                            aria-hidden="true"></i>&nbsp;注册</a></li>
                {% else %}
                    <li><span
                            style="position: relative;display: block;padding: 10px 15px;line-height: 20px;color: #ffffff;padding-top: 15px;"><i
                            class="fa fa-id-card-o"
                            aria-hidden="true"></i>&nbsp;&nbsp;<strong>您好，{{ session["user"] }}</strong></span></li>
                    <li><a href="{{ url_for('registration.userinfo') }}"><i class="fa fa-user-circle"
                                                                            aria-hidden="true"></i>&nbsp;个人中心</a></li>

                    <li><a href="{{ url_for('registration.logout') }}"><i class="fa fa-sign-out" aria-hidden="true">&nbsp;&nbsp;退出</i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>