{% extends 'registration/registration.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/jquery-datatables-editable/datatables.css') }}"/>
    <style>
        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #ffffff;
        }

        .table-bordered {
            border: none;
        }

        table.table-bordered th:last-child, table.table-bordered td:last-child {
            border-top-width: 0;
            border-right-width: 0;
        }

        div.dataTables_paginate ul.pagination {
            margin: 2px 0;
            margin-top: 15px;
            white-space: nowrap;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="detail-div">
            <ol class="breadcrumb">
                <li><a href="#">{{ newscategory }}</a></li>
                <li class="active">{{ newstag_name }}</li>
            </ol>
        </div>

        <div class="row">
            {% if zwgkNc != newscategory %}
                <div class="col-md-2">
                    <div class="panel panel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading text-center"><i class="fa fa-book fa-fw"
                                                              aria-hidden="true"></i>&nbsp;{{ newscategory }}
                        </div>
                        <!-- List group -->
                        <ul class="list-group text-center">
                        {% for tag in newstags %}
                            {% if newstag_name == tag.name %}
                                <a href="{{ url_for('registration.newscategory', name=tag.name) }}" class="list-group-item active">
                                    {{ tag.name }}
                                </a>
                            {% else %}
                                <a href="{{ url_for('registration.newscategory', name=tag.name) }}" class="list-group-item">
                                    {{ tag.name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    </div>
                </div>
                <div class="panel panel-default col-md-8">
                    <div class="panel-heading">{{ newstag_name }}</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped" id="datatable-editable">
                        <thead>
                        <tr>
                            <th class="text-center" style="display: none">g</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for newsinfo in newsinfos %}
                            <tr class="text-left">
                                <td>
                                    <a href="{{ url_for('registration.detail', id=newsinfo.id) }}">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;{{ newsinfo.title | safe }}
                                    <span class="pull-right"> [{{ newsinfo.addtime.strftime("%Y-%m-%d") }}]</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            {% else %}  <!-- 若当前为政务公开时，会去掉左侧栏 -->
                <div class="panel panel-default col-md-10">
                <div class="panel-heading">{{ newstag_name }}</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped" id="datatable-editable">
                        <thead>
                        <tr>
                            <th class="text-center" style="display: none">g</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for newsinfo in newsinfos %}
                            <tr class="text-left">
                                <td>
                                    <a href="{{ url_for('registration.detail', id=newsinfo.id) }}">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;{{ newsinfo.title | safe }}
                                    <span class="pull-right"> [{{ newsinfo.addtime }}]</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            {% include 'registration/affairs_public.html' %}
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='assets/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables/dataTables.bootstrap.js') }}"></script>
    <script>
        <!-- 表格 -->
        $('#datatable-editable').DataTable({
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从第 _START_ 条到第 _END_ 条/共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "筛选：  ",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
            "iDisplayLength": 10,
            {#"lengthMenu": [5, 10, 15, 20],#}
            "lengthChange": false,  //隐藏左上角Length页面
            "searching": false,     //隐藏右上角本地搜索
            "info": false,  //隐藏左下角提示信息
            "pagingType": "full_numbers",
            "ordering": false  {#取消全局排序#}
        });
    </script>
{% endblock %}