{% extends 'registration/registration.html' %}
{% block content %}
    <div class="container">
    <div class="detail-div">
        <ol class="breadcrumb">
            <li><a href="#">报名相关</a></li>
            <li class="active">工作计划</li>
        </ol>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">工作计划</div>
        <div class="panel-body">
            <ul class="detail-ul">
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;关于印发2018年度计算机技术与软件专业技术资格（水平）考试工作安排的通知 [18-01-16]</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;关于印发2018年度计算机技术与软件专业技术资格（水平）考试工作安排的通知 [18-01-16]</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;关于印发2018年度计算机技术与软件专业技术资格（水平）考试工作安排的通知 [18-01-16]</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;关于印发2018年度计算机技术与软件专业技术资格（水平）考试工作安排的通知 [18-01-16]</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;关于印发2018年度计算机技术与软件专业技术资格（水平）考试工作安排的通知 [18-01-16]</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}