{% extends 'registration/registration.html' %}
{% block title %}
    参考书详情
{% endblock %}
{% block css %}
    <style>
        tr.trinfo > th, td {
            text-align: center;
            border-top: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="detail-div">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('registration.search') }}?info=">参考书</a></li>
                <li class="active">{{ refbook.title | truncate(20) }}</li>
            </ol>
        </div>

        <!--左侧栏-->
        <div class="panel panel-default col-md-10">
            <div class="panel-heading">{{ refbook.title | truncate(20) }}</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr class="trinfo">
                        <th>名称</th>
                        <th>信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="trinfo">
                        <td>书名</td>
                        <td>{{ refbook.title }}</td>
                    </tr>
                    <tr class="trinfo">
                        <td>作者</td>
                        <td>{{ refbook.author }}</td>
                    </tr>
                    <tr class="trinfo">
                        <td>ISBN</td>
                        <td>{{ refbook.ISBN }}</td>
                    </tr>
                    <tr class="trinfo">
                        <td>出版社</td>
                        <td>{{ refbook.public }}</td>
                    </tr>
                    <tr class="trinfo">
                        <td>页码</td>
                        <td>{{ refbook.pages }}</td>
                    </tr>
                    <tr class="trinfo">
                        <td>封面</td>
                        <td><img src="{{ url_for('static', filename='uploads/books/'+refbook.logo) }}" alt="图书封面pic"
                                 style="width: 20%"></td>
                    </tr>
                    <tr class="trinfo">
                        <td>价格</td>
                        <td>{{ refbook.price }}</td>
                    </tr>
                    <tr class="trinfo">
                        <td>出版日期</td>
                        <td>{{ refbook.pubdate }}</td>
                    </tr>
                    <tr class="trinfo">
                        <td>图书简介</td>
                        <td><textarea rows="10" readonly style="width: 50%;">{{ refbook.info | safe }}</textarea></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'registration/affairs_public.html' %}
    </div>
{% endblock %}