{% extends "registration/registration.html" %}
{% block title %}
    注册
{% endblock %}
{% block content %}
    <div class="container">
    <div class="login_con">
        <h1>注册/REGISTER</h1>
        <form role="form" class="form-border">
            <div class="form-group">
                <label for="user_id"><i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;&nbsp;账号</label>
                <input type="email" class="form-control" id="user_id" placeholder="请输入您的账号">
            </div>
            <div class="form-group">
                <label for="email_id"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;邮箱</label>
                <input type="email" class="form-control" id="email_id" placeholder="请输入您的邮箱">
            </div>
            <div class="form-group">
                <label for="password"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;密码</label>
                <input type="password" class="form-control" id="password" placeholder="请输入您的密码">
            </div>
            <div class="form-group">
                <label for="repassword"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;重复密码</label>
                <input type="password" class="form-control" id="repassword" placeholder="请再次输入您的密码">
            </div>
            <div class="form-group">
                <label for="yzm"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;验证码</label>
                <input type="password" class="form-control" id="yzm" placeholder="请输入图中的验证码">
                <img src="images/yzm.png" alt="验证码pic">
            </div>

            <div class="text-center"><button type="submit" class="btn btn-default">注册</button></div>
        </form>

    </div>
</div>
{% endblock %}