{% extends 'registration/registration.html' %}
{% block title %}
    报名查询
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/jquery-datatables-editable/datatables.css') }}"/>
    <style>
        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #eff9fe;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">

        <!--左侧栏-->
        {% include 'registration/grid.html' %}

        <!--右侧栏-->
        <div class="col-md-10 info-right">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;报名查询</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped text-center" id="datatable-editable">
                        <thead>
                        <tr>
                            <th class="text-center">编号</th>
                            <th class="text-center">考试名称</th>
{#                            <th class="text-center">考试地点</th>#}
                            <th class="text-center">准考证号</th>
                            <th class="text-center">打印状态</th>
                            <th class="text-center">操作事项</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for admission in admissions %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ admission.trinfo.tinfo.tlevel.level + admission.trinfo.tinfo.tsubject.subject }}</td>
{#                                <td>{{ admission.trinfo.tinfo.area + "-" + admission.trinfo.tinfo.examroom }}</td>#}
                                <td>{{ admission.admission_id }}</td>
                                <td>{% if admission.status %}可打印{% else %}不可打印{% endif %}</td>
                                <td class="actions">
                                    {% if admission.status %}
                                    <a href="{{ url_for('registration.registration_detail', id=admission.id ) }}" class="print no-print"><i class="fa fa-print"></i>&nbsp;打印</a>
                                    {% else %}
                                    <a href="{{ url_for('registration.registration_detail', id=admission.id ) }}"><i class="fa fa-pencil"></i>&nbsp;查询</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/printThis.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables/dataTables.bootstrap.js') }}"></script>
    <script>
        <!-- 表格 -->
        $('#datatable-editable').DataTable({
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从第 _START_ 条到第 _END_ 条/共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "筛选：  ",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
            "iDisplayLength": 10,
            "lengthMenu": [5, 10, 15, 20],
            "searching": false,     //隐藏本地搜索
            "pagingType": "full_numbers"
        });
        {#$(".print").on("click", function () {#}
        {#    $('.row').printThis({#}
        {#        importCSS: true,#}
        {#        importStyle: true,#}
        {#        printContainer: true,#}
        {#        header: "<h1>准考证</h1>",#}
        {#        footer: null,#}
        {#        pageTitle: "准考证",#}
        {#        base: "http://127.0.0.1:5000{{ url_for('registration.registration_detail', id=7) }}"#}
        {#    });#}
        {#);#}
        <!-- jQuery.print.js -->
        {#$(".print").on("click", function () {#}
        {#    $('.print').print({#}
        {#        globalStyles: true,  //Use Global styles#}
        {#        mediaPrint: false,  //Add link with attrbute media=print#}
        {#        stylesheet: null,  //Custom stylesheet  eg."http://fonts.googleapis.com/css?family=Inconsolata",#}
        {#        noPrintSelector: ".no-print",  //Don't print this#}
        {#        iframe: true,  //Print in a hidden iframe#}
        {#        append: $('.panel-body').html(),  //Add this on bottom#}
        {#        prepend: "Hello World!!!<br/>",  //Add this at top#}
        {#        manuallyCopyFormValues: true,#}
        {#        deferred: $.Deferred().done(function () {#}
        {#            console.log('Printing done', arguments);#}
        {#        })#}
        {#    });#}
        {#);#}
        <!-- jQuery.print.js -->
        $(document).ready(function () {
            $("#m-3").addClass("active")
        });
    </script>
{% endblock %}