<div class="col-md-9 col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="tablist">
        <li role="presentation" class="active"><a href="#action-1" role="tab" data-toggle="tab"><i
                class="fa fa-calendar" aria-hidden="true"></i> 动态1</a></li>
        <li role="presentation"><a href="#action-2" role="tab" data-toggle="tab"><i class="fa fa-calendar"
                                                                                    aria-hidden="true"></i> 动态2</a>
        </li>
        <li role="presentation"><a href="#action-3" role="tab" data-toggle="tab"><i class="fa fa-calendar"
                                                                                    aria-hidden="true"></i> 动态3</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="action-1">
            <div class="row feature">
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="action-2">
            <div class="row feature">
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="action-3">
            <div class="row feature">
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
                <div class="padding-enlg"><a href="#">Google Chrome<span
                        class="pull-right">2018-01-30</span></a></div>
            </div>
        </div>
    </div>

</div>