<div class="col-md-9 col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="tablist">
        <li role="presentation" class="active"><a href="#action-1" role="tab" data-toggle="tab"><i
                class="fa fa-mortar-board" aria-hidden="true"></i> 初级</a></li>
        <li role="presentation"><a href="#action-2" role="tab" data-toggle="tab"><i class="fa fa-mortar-board"
                                                                                    aria-hidden="true"></i> 中级</a>
        </li>
        <li role="presentation"><a href="#action-3" role="tab" data-toggle="tab"><i class="fa fa-mortar-board"
                                                                                    aria-hidden="true"></i> 高级</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="action-1">
            <div class="row feature">
                {% for pri in primary %}
                    <div class="padding-enlg"><a href="{{ url_for("registration.detail", id=pri.id) }}">{{ pri.title | safe | truncate(25) }}
                        <span class="pull-right">{{ pri.addtime.strftime("%Y-%m-%d") }}</span></a></div>
                {% endfor %}
                <a href="{{ url_for('registration.newscategory', name="初级") }}" class="pull-right">More&gt;&gt;</a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="action-2">
            <div class="row feature">
                {% for mid in middle %}
                    <div class="padding-enlg"><a href="{{ url_for("registration.detail", id=mid.id) }}">{{ mid.title | safe | truncate(25)}}
                        <span class="pull-right">{{ mid.addtime.strftime("%Y-%m-%d") }}</span></a></div>
                {% endfor %}
                <a href="{{ url_for('registration.newscategory', name="中级") }}" class="pull-right">More&gt;&gt;</a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="action-3">
            <div class="row feature">
                {% for adv in advanced %}
                    <div class="padding-enlg"><a href="{{ url_for("registration.detail", id=adv.id) }}">{{ adv.title | safe | truncate(25) }}
                        <span class="pull-right">{{ adv.addtime.strftime("%Y-%m-%d") }}</span></a></div>
                {% endfor %}
                <a href="{{ url_for('registration.newscategory', name="高级") }}" class="pull-right">More&gt;&gt;</a>
            </div>
        </div>
    </div>

</div>