{% extends 'registration/registration.html' %}
{% block css %}
    <link href="{{ url_for('static', filename='css/BreakingNews.css') }}" rel="stylesheet">
    <style>
        div.summer{
            margin: 0 40px;
        }
        div.summer > p.summer_div{
            margin-left: 18%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="detail-div">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('registration.tinfo', name="近期考试报名") }}">考试报名</a></li>
                <li class="active">{{ tinfo.tlevel.level + tinfo.tsubject.subject | truncate(20)}}</li>
            </ol>
        </div>

        <div class="row">
            <div class="panel panel-default col-md-10 m-t-20">
                <div class="panel-body">
                    <h3 class="text-center">{{ tinfo.tlevel.level + tinfo.tsubject.subject | truncate(20)}}</h3>
                    <hr>
                    <p class="text-center" style="margin: -10px 0 20px;">
                        【发布日期：{{ tinfo.addtime.strftime("%Y-%m-%d") }}&nbsp;&nbsp;&nbsp;发布人：本站管理员】</p>
                    <div class="summer">
                        一、网上报名时间：
                        <p class="summer_div"> {{ (tinfo.t_time - time_diff * 4).strftime("%Y-%m-%d") }} —— {{ (tinfo.t_time - time_diff).strftime("%Y-%m-%d") }}</p>
                    </div>
                    <div class="summer">
                        二、准考证打印时间：
                        <p class="summer_div"> 考前一周自行打印 </p>
                    </div>
                    <div class="summer">
                        三、考试地点：
                        <p class="summer_div"> {{ tinfo.area + "---->"  + tinfo.examroom }} </p>
                    </div>
                    <hr>
                        <a href="#" target="_blank" class="pull-left">查看介绍&gt;&gt;</a>
                        <a href="{{ url_for('registration.trinfo', id=tinfo.id) }}" target="_blank" class="pull-right">网上报名&gt;&gt;</a>

                </div> <!-- panel-body -->
            </div>
            {% include 'registration/affairs_public.html' %}
            <div class="BreakingNewsController easing" id="breakingnews">
            	<div class="bn-title"></div>
                <ul>
                    {% for latest_info in latest_infos %}
                     <li><a href="{{ url_for('registration.detail', id=latest_info.id) }}">{{ latest_info.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/BreakingNews.js') }}"></script>
    <script>
        $("#breakingnews").BreakingNews({
            background		:'#FFF',
			title			:'最新通知',
			titlecolor		:'#ff0013',
			titlebgcolor	:'#FFF',
			linkcolor		:'#333',
			linkhovercolor	:'#099',
			fonttextsize	:16,
			isbold			:false,
			width			:'100%',
			timer			:2000,
			autoplay		:true,
			effect			:'slide'
        });
    </script>
{% endblock %}