{% extends 'registration/registration.html' %}
{% block css %}
    <link href="{{ url_for('static', filename='css/BreakingNews.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/jquery-datatables-editable/datatables.css') }}"/>
    <style>
        div.summer {
            margin: 0 40px;
        }

        div.summer > p.summer_div {
            margin-left: 18%;
        }

        hr.hr_style {
            margin-top: -3px;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #ffffff;
        }

        .table-bordered {
            border: none;
        }

        table.table-bordered th:last-child, table.table-bordered td:last-child {
            border-top-width: 0;
            border-right-width: 0;
        }

        div.dataTables_paginate ul.pagination {
            margin: 2px 0;
            margin-top: 15px;
            white-space: nowrap;
        }

        div#filter {
            margin-top: 16px;
        }

        @media (max-width: 767px) {
            div#filter {
                margin: 0 auto;
            }

            a.a_style {
                margin-top: 22px;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="detail-div">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('registration.tinfo', name="近期考试报名") }}">考试报名</a></li>
                <li class="active">{{ level + subject }}</li>
            </ol>
        </div>

        <div class="row">
            <div class="panel panel-default col-md-10 m-t-20">
                <div class="panel-body">
                    <!-- 消息闪现提示 -->
                    {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i>&nbsp;操作失败</h4>
                            {{ msg }}
                        </div>
                    {% endfor %}
                    <!-- 消息闪现提示 -->
                    <h3 class="text-center">{{ level + subject }}考点信息</h3>
                    <hr>
                    <table class="table table-bordered table-striped" id="datatable-editable">
                        <thead>
                        <tr>
                            <th class="text-center" style="display: none">g</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in tinfo %}
                            <tr class="text-left">
                                <td>
                                    <a href="{{ url_for('registration.trinfo', id=value.id) }}" target="_blank">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                        {{ value.area | safe }}&nbsp;—&nbsp;{{ value.examroom | safe | truncate(20) }}&nbsp;—&nbsp;{{ value.t_time }}
                                        {% if value.t_time - now < time_diff %}
                                            <span class="pull-right"> <span class="badge">已过期</span></span>
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr class="hr_style">
                    <!-- 介绍为newsinfo的数据 -->
                    <a href="{{ url_for('registration.detail', id=level + subject) }}" target="_blank"
                       class="pull-left a_style">查看介绍&gt;&gt;</a>
                </div> <!-- panel-body -->
            </div>
            {% include 'registration/affairs_public.html' %}
            <div class="BreakingNewsController easing" id="breakingnews">
                <div class="bn-title"></div>
                <ul>
                    {% for latest_info in latest_infos %}
                        <li>
                            <a href="{{ url_for('registration.detail', id=latest_info.id) }}">{{ latest_info.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/BreakingNews.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables/dataTables.bootstrap.js') }}"></script>
    <script>
        $("#breakingnews").BreakingNews({
            background: '#FFF',
            title: '最新通知',
            titlecolor: '#ff0013',
            titlebgcolor: '#FFF',
            linkcolor: '#333',
            linkhovercolor: '#099',
            fonttextsize: 16,
            isbold: false,
            width: '100%',
            timer: 2000,
            autoplay: true,
            effect: 'slide'
        });
        <!-- 表格 -->
        $('#datatable-editable').DataTable({
            dom: 't<"#filter.pull-left"f><"pull-right"p><"clear">',
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从第 _START_ 条到第 _END_ 条/共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "查找：  ",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
            "iDisplayLength": 5,
            {#"lengthMenu": [5, 10, 15, 20],#}
            "lengthChange": false,  //隐藏左上角Length页面
            "searching": false,     //隐藏右上角本地搜索
            "info": false,  //隐藏左下角提示信息
            "pagingType": "full_numbers",
            "ordering": false  {#取消全局排序#}
        });
    </script>
{% endblock %}