{% extends 'registration/registration.html' %}
{% block title %}
    个人中心
{% endblock %}
{% block css %}
    <!-- fileinput -->
    <link href="{{ url_for('static', filename='assets/bootstrap-fileinput/fileinput.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="container">

        <!--左侧栏-->
        {% include 'registration/grid.html' %}

        <!--右侧栏-->
        <div class="col-md-10 info-right">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;个人中心</h3>
                </div>
                <div class="panel-body">
                    <!-- 消息闪现提示 -->
                    {% for msg in get_flashed_messages(category_filter=["OK"]) %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i>&nbsp;操作成功</h4>
                            {{ msg }}
                        </div>
                    {% endfor %}
                    {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i>&nbsp;操作失败</h4>
                            {{ msg }}
                        </div>
                    {% endfor %}
                    <!-- 消息闪现提示 -->
                    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            {{ form.name.label(class="col-md-2 control-label") }}
                            <div class="col-md-10">
                                {{ form.name(value=user.name) }}
                            </div>
                            {% for err in form.name.errors %}
                            <div class="col-md-10 col-md-offset-2">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.gender.label(class="col-md-2 control-label") }}
                            <div class="col-md-10">
                                {{ form.gender }}
                            </div>
                            {% for err in form.gender.errors %}
                            <div class="col-md-10 col-md-offset-2">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="col-md-2 control-label") }}
                            <div class="col-md-10">
                                {{ form.email(value=user.email) }}
                            </div>
                            {% for err in form.email.errors %}
                            <div class="col-md-10 col-md-offset-2">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.id_card.label(class="col-md-2 control-label") }}
                            <div class="col-md-10">
                                {{ form.id_card }}
                            </div>
                            {% for err in form.id_card.errors %}
                            <div class="col-md-10 col-md-offset-2">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label(class="col-md-2 control-label") }}
                            <div class="col-md-10">
                                {{ form.phone }}
                            </div>
                            {% for err in form.phone.errors %}
                            <div class="col-md-10 col-md-offset-2">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.face.label(class="col-md-2 control-label") }}
                            <div class="col-md-10">
                                <img src="{{ url_for('static', filename='images/a1.jpg') }}" alt="头像pic"
                                     style="width: 100%;margin-bottom: 10px;">
                                {{ form.face }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.area.label(class="col-md-2 control-label") }}
                            <div class="col-md-10">
                                {{ form.area }}
                            </div>
                            {% for err in form.area.errors %}
                            <div class="col-md-10 col-md-offset-2">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!-- fileinput -->
    <script src="{{ url_for('static', filename='assets/bootstrap-fileinput/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap-fileinput/zh.js') }}"></script>
    <script>
        $('#file-input').fileinput({
            language: 'zh', //设置语言
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            uploadAsync: true, //默认异步上传
            showUpload: false, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: true, //是否显示预览
            uploadAsync: false,    //采用同步上传
            removeFromPreviewOnError: true,   //当文件不符合规则，就不显示预览
            {#showCaption:false,//是否显示标题#}
            {#browseClass:"btn btn-primary btn-file", //按钮样式#}
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileCount: 3, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        });
        $(document).ready(function () {
            $("#m-1").addClass("active")
        });
    </script>
{% endblock %}
